:root,
.theme-dark {
  /* Backgrounds */
  --background-primary: rgb(40, 42, 54);
  --background-secondary: rgb(50, 52, 68);
  --background-secondary-alt: rgb(60, 62, 78);
  --background-tertiary: rgb(70, 72, 88);
  --background-floating: rgb(60, 62, 78);
  --background-modifier-selected: rgba(90, 92, 108, 0.35);
  --background-accent: rgb(70, 72, 88);
  --deprecated-card-bg: var(--background-secondary);

  /* Powercord Color Scheme */
  --toast-header: var(--background-secondary-alt) !important;
  --toast-background: var(--background-secondary-alt) !important;
  --toast-contents: var(--background-secondary) !important;

  /* Gradients */
  --linearGradient-background-floating: linear-gradient(
    var(--background-floating),
    var(--background-secondary) 80%
  );

  --linearGradient-background-settings: linear-gradient(
    var(--background-floating),
    var(--background-primary)
  );

  --linearGradient-background-semilight-floating: linear-gradient(
    var(--background-accent),
    var(--background-secondary)
  );

  /* Shadows */
  --boxShadow-elevation-high: 0px 0px 8px rgba(0, 2, 12, 0.5);

  /* Scrollbars */
  --scrollbar-auto-thumb: rgb(60, 62, 78);
  --scrollbar-auto-track: rgb(50, 52, 68);

  /* Text Colors */
  --text-muted: rgb(110, 112, 128);
  --text-normal: rgb(220, 222, 232);

  /* Brand Experiment? */
  --brand-experiment-560: rgb(80, 82, 98);
}

.theme-light {
  /* Backgrounds */
  /* --background-primary: rgb(160, 162, 174) !important; */
  --background-primary: rgb(200, 202, 214) !important;
  --background-secondary: rgb(210, 212, 224) !important;
  --background-secondary-alt: rgb(224, 224, 238) !important;
  --background-tertiary: rgb(230, 234, 252) !important;
  --background-floating: rgb(220, 222, 234) !important;
  --background-modifier-selected: rgba(90, 92, 108, 0.35) !important;
  --background-accent: rgb(190, 192, 198) !important;
  --deprecated-card-bg: var(--background-secondary) !important;

  /* Powercord Color Scheme */
  --toast-header: var(--background-secondary-alt) !important;
  --toast-background: var(--background-secondary-alt) !important;
  --toast-contents: var(--background-secondary) !important;

  /* Gradients */
  --linearGradient-background-floating: linear-gradient(
    var(--background-floating),
    var(--background-secondary) 80%
  );

  --linearGradient-background-settings: linear-gradient(
    var(--background-floating),
    var(--background-primary)
  );

  --linearGradient-background-semilight-floating: linear-gradient(
    var(--background-tertiary),
    var(--background-secondary)
  );

  /* Scrollbars */
  --scrollbar-auto-thumb: rgb(230, 234, 252) !important;
  --scrollbar-auto-track: rgb(160, 162, 174) !important;

  /* Text Colors */
  --text-muted: rgb(20, 22, 32) !important;
  --text-normal: rgb(10, 12, 22) !important;
  --channels-default: rgb(30, 32, 42) !important;
  --interactive-normal: var(--text-normal) !important;
  --header-secondary: var(--text-normal) !important;
}
